@font-face{font-family:Josefin;
           src:url("../fonts/JosefinSans-Regular.ttf")
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background:-webkit-gradient(linear, 77% 20%, 9% 21%, from(#28294B), to(#0F2732));
}
<<<<<<< HEAD
header{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
    float: right;
}

.imagen{
    height: 0;
    padding-bottom: 33.90%;
    position: relative;            
}
img{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
#barra{
    width:1000px;
    height: 80px;
    margin: 0px auto;
    float: right;
}

#barra>li{
    float: left;
    list-style: none;
    width: 17%;
    height: 80px;
    border-right:1px solid #534444;
    border-left: 1px solid #534444;
}

li>a{
    text-decoration: none;
    color: white;
    font-family: cursive;
    font-size: 20px;
    line-height: 80px;
    display: block;
    text-align: center;
}

li>a:hover{
    background: skyblue;
    color: #333;
}

#despliegue{
    width: 50px;
    height: 50px;
    float: right;
    display: none;

}

ul ul{
    display: block;
    background: #666666;
    list-style: none;
    transform: translateX(60%);
    opacity: 0;
}
ul li:hover ul{
    opacity: 1;
    transform: translateX(0%);
    transition: all .6s;
    }
a>span{
    transition: all .6s;
}
a:hover span{
    transform: translateY(10px);
    opacity: 0;
}
footer{
    padding: 9px 0 15px 0;
    color: #222;
    text-align: center;
    background: #ddd; /*muestra un color solido en viejos navegadores */
    background: -moz-linear-gradient(#fff, #ddd);/* esto es para Mozila */
    background: -o-linear-gradient(#fff, #ddd); /* esto es para Ópera */
    background: -webkit-linear-gradient(#fff, #ddd);/* esto es para Chrome */
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    border: 1px solid #eee;
    height: 40px;
    background: #006699;
    color: white;
    font-size: 30px;
    font-family: Josefine;
}
#contenido{
    height: 1000px;
}

@media screen and (max-width:1260px){
    #logo>img{
        width:150px;
        height: 60px;
        float: left;
        padding-left:20px;
        padding-top: 10px;
    }
    #barra{
        width:800px;
        height: 80px;
        margin: 0px auto;
        float: right;
    }
    #barra>li{
        float: left;
        list-style: none;
        width: 150px;
        height: 80px;
        border-right:1px solid #534444;
        border-left: 1px solid #534444;
    }
    li>a{
        text-decoration: none;
        color: white;
        font-family: cursive;
        font-size: 20px;
        line-height: 80px;
        display: block;
        text-align: center;
    }
   
   
}
@media screen and (max-width:1060px){
    header{
        width: 100%;
        height: 80px;
        background: #333;
        box-shadow: 0px 2px 4px gray;
        position:relative;top:80px;
    }
    #logo{
        width:100%;
        height: 90px;
        float: left;
        padding-left:20px;
        padding-top: 10px;
        position: absolute;
        top:-90px;
        background: white;
    }
    #barra{
        width:100%;
        height: 60px;
        margin: 0px auto;
    }
    #barra>li{
        width: 18%;
    }
    li>a{
        font-size: 16px;
    }
    footer{
        font-size: 26px;
    }
    
}
@media screen and (max-width:910px){
    
}
@media screen and (max-width:830px){
    
}
@media screen and (max-width:768px){
    header{
        height: 50px;
    }
    #barra{
        width:100%;
        height: 50px;
        margin: 0px auto;
    }
    #barra>li{
        width: 19%;
        height: 50px;
    }
    li>a{
        font-size: 16px;
        line-height: 50px;
    }
    footer{
        font-size: 22px;
    }
 
}
@media screen and (max-width: 480px){
    header{
        height: 200px;
        margin-bottom: 150px;
    }
=======
nav{
    width: 100%;
    height: 80px;
    background: #006699;
    color: white;
    padding: 20px;
}
header{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
    float: right;
}

.imagen{
    height: 0;
    padding-bottom: 33.90%;
    position: relative;            
}
img{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
#barra{
    width:100%;
    height: 80px;
    margin: 0px auto;
    float: right;
}

#barra>li{
    float: left;
    list-style: none;
    width: 19%;
    height: 80px;
    border-right:1px solid #534444;
    border-left: 1px solid #534444;
}

li>a{
    text-decoration: none;
    color: white;
    font-family: cursive;
    font-size: 20px;
    line-height: 80px;
    display: block;
    text-align: center;
}

li>a:hover{
    background: skyblue;
    color: #333;
}

#despliegue{
    width: 50px;
    height: 50px;
    float: right;
    display: none;

}

ul ul{
    display: block;
    background: #666666;
    list-style: none;
    transform: translateX(60%);
    opacity: 0;
}
ul li:hover ul{
    opacity: 1;
    transform: translateX(0%);
    transition: all .6s;
    }
a>span{
    transition: all .6s;
}
a:hover span{
    transform: translateY(10px);
    opacity: 0;
}
footer{
    padding: 9px 0 15px 0;
    color: #222;
    text-align: center;
    background: #ddd; /*muestra un color solido en viejos navegadores */
    background: -moz-linear-gradient(#fff, #ddd);/* esto es para Mozila */
    background: -o-linear-gradient(#fff, #ddd); /* esto es para Ópera */
    background: -webkit-linear-gradient(#fff, #ddd);/* esto es para Chrome */
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    border: 1px solid #eee;
    height: 40px;
    background: #006699;
    color: white;
    font-size: 30px;
    font-family: Josefine;
}
#contenido{
    height: 1000px;
}

@media screen and (max-width:1260px){
    #barra{
        width:100%;
        height: 80px;
        margin: 0px auto;
        float: right;
    }
    #barra>li{
        float: left;
        list-style: none;
        width: 17%;
        height: 80px;
        border-right:1px solid #534444;
        border-left: 1px solid #534444;
    }
    li>a{
        text-decoration: none;
        color: white;
        font-family: cursive;
        font-size: 20px;
        line-height: 80px;
        display: block;
        text-align: center;
    }
   
   
}
@media screen and (max-width:1060px){
    #barra{
        width:100%;
        height: 60px;
        margin: 0px auto;
    }
    li>a{
        font-size: 16px;
    }
    footer{
        font-size: 26px;
    }
    
}
@media screen and (max-width:910px){
    
}
@media screen and (max-width:830px){
    
}
@media screen and (max-width:768px){
    #barra{
        width:100%;
        height: 50px;
        margin: 0px auto;
    }
    li>a{
        font-size: 16px;
        line-height: 50px;
    }
    footer{
        font-size: 22px;
    }
 
}
@media screen and (max-width: 480px){
>>>>>>> origin/master
    #barra{
        width:100%;
        height: 50px;
        margin: 0px auto;
        margin-top:-40px;
        display: none;
        
    }
    #barra>li{
        float: none;
        list-style: none;
        width: 100%;
        height: 50px;
        background: #333;
        border-bottom: 1px solid skyblue;
    }
    #barra>li:focus ul{
        float: none;
        list-style: none;
        width: 100%;
        height: 50px;
        background: #333;
        border-bottom: 1px solid skyblue;
    }    

    li>a{
        font-size: 16px;
        padding-top: 10px;
    }
   
    footer{
        font-size: 18px;
    }
    
}
